<div id="saved">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 text-center" id="brand">
            <h1>WoW Scrape!</h1>---Just the WoW from <a href="https://icy-veins.com" class="icy"
                style="text-decoration: none" target="_blank">Ice-Veins</a>
        </span>
        <h1 class="socialMedia"><button class='btn-lg btn-info goHome'><a href="/"
                    style="text-decoration: none">Home</a></button> <a
                href="https://www.linkedin.com/in/devin-stewart-7697bb9b/" class="fa fa-linkedin"></a> | <a
                href="https://www.github.com/bigshmow" class="fa fa-github"></a></h1>
    </nav>
    <div class="container">
        <br>
        <div class="row">
                <div class="col-12">
                <div class="jumbotron text-center">
                    <h1 class="">These are your saved articles</h1>
                </div>
                </div>
        </div>
        {{#each Article}}
        <div class="row no-gutters">
            <div class="centering">
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src={{this.img}} class="img-responsive" style="height: 125px">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 border-info" style="height: 125px">
                    <p class="card-text text-center">{{this.title}}</p><p>{{this.text}}<a href={{this.link}} class="stretched-link"
                            target="_blank"></a></p>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4">

 {{!-- modal test --}}
                        <button type="button" data-_id={{this._id}} class='btn-lg btn-info readNote' style="height: 62.5px" data-toggle="modal"
                            data-target="#exampleModal">
                            Make a note
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="titleModal">Title: </h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <h5>Leave a note below:</h5>
                                            <hr>
                                            <textarea class="form-control" id="textModal">
                                                
                                            </textarea>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-_id={{this._id}} class="btn btn-primary saveNote">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- modal test --}}

                    {{!-- <button class='btn-lg btn-info makeNote'style="height: 62.5px">Make a Note</button> 
                     --}}
                    <button data-_id={{this._id}}
                        class='btn-lg btn-info unSave'style="height: 62.5px">Unsave this!</button>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="notes"></div>
            </div>
        </div>
        {{/each}}

    </div>
</div>